@use '../base/variables' as v;
/*================ Header, Nav Styles ====================*/
.header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    background-color: v.$body-color;
    z-index: v.$z-fixed;
    transition: box-shadow 0.4s;
}

.shadow-header{
    box-shadow: 0 1px 16px hsla(0, 0%, 0%, .12)
}

.nav {
    position: relative;
    height: v.$header-height;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__logo {
    display: flex;
    column-gap: 0.5rem;
    align-items: center;
    font-weight: v.$font-semi-bold;
    color: v.$title-color;
}

.nav__logo-circle,
.nav__toggle {
    width: 32px;
    height: 32px;
    background-color: black;
    color: v.$white-color;
    display: grid;
    place-items: center;
}

.nav__logo-circle {
    border-radius: 50%;
}

.nav__toggle {
    font-size: 1.25rem;
    cursor: pointer;
}

@media screen and (max-width: 1150px) {
    .nav__menu {
        position: fixed;
        top: -100%;
        left: 0;
        padding-block: 1.8rem 5rem; //TODO:Averiguar acerca de esta propiedad [padding-block]
        background-color: hsla(0, 0%, 0%, 0.75);
        width: 100%;
        text-align: center;
        backdrop-filter: blur(
            8px
        ); //TODO:Averiguar acerca de esta propiedad [backdrop-filter]
        transition: top 0.4s; //TODO:Averiguar acerca de esta propiedad [Transition]
    }
}

.nav__title,
.nav__name,
.nav__close {
    color: v.$white-color;
}

.nav__title {
    display: block;
    font-size: v.$smaller-font-size;
    font-weight: v.$font-semi-bold;
    margin-bottom: 3.5rem;
}

.nav__name {
    position: relative;
    width: max-content; //TODO:Averiguar acerca de esta propiedad [max-content]
    margin: 0 auto 3rem;
    font-size: v.$h2-font-size;
}

.nav__name::before,
.nav__name::after {
    content: '';
    position: absolute;
    top: 50%;
    left: -4rem;
    width: 40px;
    height: 1px;
    background-color: v.$text-color-light;
}

.nav__name::before {
    left: initial;
    right: -4rem;
}

.nav__list {
    display: flex;
    flex-direction: column;
    row-gap: 2.5rem;
}

.nav__link {
    position: relative;
    color: v.$text-color-light;
    font-size: v.$h3-font-size;
    font-weight: v.$font-bold;
    transition: color 0.3s;
}

.nav__link::after {
    content: '';
    width: 0;
    height: 2px;
    background-color: v.$white-color;
    position: absolute;
    left: 0;
    bottom: -0.5rem;
    transition: width 0.3s;
}

.nav__link:hover {
    color: v.$white-color;
}

.nav__link:hover::after {
    width: 25%;
}

.nav__close {
    position: absolute;
    font-size: 1.5rem;
    top: 1rem;
    right: 1.5rem;
    cursor: pointer;
}

// Show menu
.show-menu {
    top: 0;
}
