@use './variables' as v;

.container {
    max-width: 1120px;
    margin-inline: 1.5rem;
}

.grid {
    display: grid;
    gap: 1.5rem;
}

.section {
    padding-block: 4rem 2rem;
}

.section__title-1,
.section__title-2 {
    position: relative;
    font-size: v.$h1-font-size;
    width: max-content;
    margin: 0.75rem auto 2rem;
}

.section__title-1 span,
.section__title-2 span {
    z-index: 5;
    position: relative;
}

.section__title-1::after,
.section__title-2::after {
    content: '';
    width: 40px;
    height: 28px;
    background-color: hsla(14, 98%, 50%, 0.2);
    position: absolute;
    top: -4px;
    right: -8px;
}

.section__title-2::after {
    top: initial;
    bottom: -4px;
}

.geometric-box {
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: v.$first-color;
    rotate: -30deg;
}

.geometric-box::after {
    content: '';
    position: absolute;
    width: 16px;
    height: 16px;
    border: 3px solid v.$black-color;
    left: -5px;
    top: -5px;
}

.main {
    overflow: hidden; /* For animation ScrollReveal */
}
